 
*{
    margin: 0;
    padding: 0;
    font-family: 'optima', sans-serif	;
     
    
}

body{
    background-color: #532424;
    background: url('../images/background-layan.jpeg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        padding: 0;
        margin: 0;
        padding-top: 25vh;
       

    
    }

.container{
    
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center ;
    background-image: linear-gradient(rgb(255, 255, 255), #B3E7E6);
    border-radius: 15px;
    padding: 25px 10x;
    font-family:Cursive;     
      line-height: 330%;
      color: #00556D;
     
     
    

}
.butt{
    background-color: #ffffff;}
#n{
      font-size: 18px;
      
  
}
.dog{
    position: absolute;
        top:100px;
        left: 550px;
        margin-top: 60px;
       width:700px;
       height: 400px;
    
   }
input{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 15px;
    background-color:#ffffff;
     color: #00556D;

}
text{
    background-color:#00556D;
    color: #00556D;
}
select{
    height: 20px;
    width: 200px;
    margin: 5px ; 
    color: #425458;
}
button{
    background-color: #ffffff;
    color: #00556D;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 17px;
    margin: 5px 15px;
}
button:hover{
    background-color: rgb(226, 226, 228);
}
 label{
    font-size: 15px;   
 }

 .navbar{ 
    background-color: #ffffff;
        width:100%;
        height:100px; 
        margin-top:-588px;
        }
        .navbar a:hover {
          background: #f1f1f1;
          color: #00556D;
        }
        .navbar a{
            float:  right;
            display: block;
            color: #00556D;
            text-align: center;
            padding: 25px 40px;
            text-decoration: none;
            font-size: 18px;
            padding-top: 40px;
        }
        
        .logo{
          position: absolute;
              top: 0px;
              left: 0px;
              margin-top: -40px;
             width: 160px;
             height: 170px;
          
         }

           .profile{
            position: absolute;
             top: 15px;
             right: 20px;
             width: 70px;
             height: 70px;
           }


           

