* {
  font-family: serif; /* Change your font family */
}

.navbar{ 
background-color: #E2EAEC;
width:1550px;
height:100px; 
margin: 0px; 
padding:0px; 
}
.navbar a:hover {
  background: #f1f1f1;
  color: black;
}
.navbar a{
float:  right;
display: block;
color: BLACK;
text-align: center;
padding: 30px 115px;
text-decoration: none;
font-size: 18px;
}

#logo{ 
width:95px ;
height:95px ;
margin-left:30px;
max-width: 225;
max-height: 225;
}

#center {
margin-left: auto;
margin-right: auto;
}

body{ 
margin-bottom: auto;
background-color:white;
}

.content-table {
border-collapse: collapse;
margin: 25px 0;
background-color:#E2EAEC;
font-size: 0.9em;
min-width: 1400px;
border-radius: 5px 5px 0 0;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
text-align: center; 
border-radius: 10px;
}

.content-table thead tr {
background-color:lightgrey;
color: black;
text-align: left;
font-weight: bold;
text-align: center; 
}

.content-table th,
.content-table td {
padding: 12px 15px;
}

/*lines between rows -*/
.content-table tbody tr {
border-bottom: 1px solid lightgrey;
}

.content-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
border-bottom: 1px solid lightgrey;
}

.content-table tbody tr.active-row {
font-weight: light;
color: black;
font-family: Arial, Helvetica, sans-serif;

}