* {
    font-family: 'optima', sans-serif	;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'optima', sans-serif	;
    color: rgb(119, 119, 119);
    padding-top: 25vh;
    background: url('../images/layan\ -\ foot.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat ;
}

.container{
    width: 488px;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color:rgb(227, 231, 233);
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;

}
.container1{
    width: 435px;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color:rgb(227, 231, 233);
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;

}
.container2{
    width: 440px;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color:rgb(227, 231, 233);
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;

}
form{
    display: flex;
    flex-direction: column;
    width: 79%;
    
}
input{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 15px ;
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    color: rgb(119, 119, 119);
    background-color: white;

}
.restbutton{
    margin: 15px auto;
    background-color: white;
    color: rgb(119, 119, 119);
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin: 77px 44px;
    align-items: center;
   
}
button{
    background-color: white;
    color: rgb(119, 119, 119);
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin: 44px 27px;
    align-items: center;
   
}
button:hover{
    background-color: rgb(226, 226, 228);
}
p{
    font-size: 15px;
    align-items: center;
}
.logo{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -40px;
   width: 160px;
   height: 170px;

}
.navbar{ 
    background-color: #ffffff;
    position: absolute;
    width:100%;
    height:100px; 
    margin-top:-230px;
    }
   
.navbar{ 
    background-color: #ffffff;
    width:100%;
      height:100px;   
      margin:0px; 
      margin-top: -200px;
       }
       .navbar a:hover {
        background: #f1f1f1;
        color: #00556D;
      }
      .navbar a{
      float:  right;
      display: block;
      color: #00556D;
      text-align: center;
      padding: 25px 70px;
      text-decoration: none;
      font-size: 18px;
      padding-top: 40px;
      }
      
   