* {
    font-family: 'optima', sans-serif	; 
}
body{
    background: url('../images/layan\ -\ foot.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat ;

    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fff8f8;  
    color: rgb(73, 73, 73);
    padding-top: 25vh;
}

.container{
    width: 400px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;
    margin-top: 40px;
    margin-left: 500px;

   
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
a{
    color:#00556D;
}
input{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 18px;
    color: rgb(119, 119, 119);
    background-color: white;
    align-items: center;
}
.loginbut{
    margin: 15px auto;
}
button{
    background-color: white;
    color: rgb(119, 119, 119);
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 25px;
    align-items: center;
}
button:hover{
    background-color: rgb(226, 226, 228);
}
p{
    font-size: 15px;
    align-items: center;
}
.logo{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -40px;
   width: 160px;
   height: 170px;

}

.navbar{ 
    background-color: #ffffff;
    width:100%;
      height:100px;   
      margin:0px; 
      margin-top: -200px;
       }
       .navbar a:hover {
        background: #f1f1f1;
        color: #00556D;
      }
      .navbar a{
      float:  right;
      display: block;
      color: #00556D;
      text-align: center;
      padding: 25px 70px;
      text-decoration: none;
      font-size: 18px;
      padding-top: 40px;
      }
      
      .logo{
          position: absolute;
          top: 0px;
          left: 0px;
          margin-top: -40px;
         width: 160px;
         height: 170px;
            
         }
  