body{
background-color: #fff8f8;
background-image: url('/Users/ahanoufalawwad/Desktop/Pet-care/images/gryDog.JPG');
background-position: right top;
background-repeat: no-repeat;
background-attachment: scroll;

}
