* {
    font-family: serif; /* Change your font family */
  }
body{ 
margin-bottom: auto;
background-color:white;
<<<<<<< Updated upstream
background: url('../images/about.jpg') no-repeat center center fixed; 
=======
background: url('../images/') no-repeat center center fixed; 
>>>>>>> Stashed changes

font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: #f1f1f1; 
    width: 400px;
    height: 350px;
    border-radius: 15px;
    border-spacing: 11px ;
    position: absolute;
  left: 30px;
}
.edit{
  position: absolute;
<<<<<<< Updated upstream
  left: 100px;
=======
  right: 0px;
}
.map{
  position: absolute;
  left: 0px;
  top: 600px ;
  margin: 0 auto;
  display: table;
  
  
}
.map iframe{
  padding-bottom: 44px;
  padding-right: 0px;
  margin: 0 auto;
  display:table;
  
>>>>>>> Stashed changes
}
.navbar{ 
  background-color: #E2EAEC;
  width:100%;
  height:100px; 
  margin-top:-10px;
  }
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  .navbar a{
      float:  right;
      display: block;
      color: BLACK;
      text-align: center;
      padding: 25px 70px;
      text-decoration: none;
      font-size: 18px;
      padding-top: 40px;
  }
  
  .logo{
      position: absolute;
      top: 0px;
      left: 0px;
      margin-top: -40px;
     width: 160px;
     height: 170px;
        
     }
<<<<<<< Updated upstream
     .mapouter{
       height: 200;
       width: 200 ;
     }
     .about{
      margin-left: 170px;
     }
=======
    
    
>>>>>>> Stashed changes
