
*{
    margin: 0;
    padding: 0;

     
    
}

/*body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F7F8;
    color: rgb(119, 119, 119);
    padding-top: 25vh;
    text-align: left;
}*/
body{
    background-color: #91c3ca;
    background: url('../images/petFootSteps.png') no-repeat center center fixed; 
    background-position: left;
    background-repeat: repeat;
    background-size: 60%;
        padding: 0;
        margin: 0;
       
        text-align: left;
        padding-top: 25vh;
    
    }

.container{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    align-items: center ;
    background-color:hsl(206, 53%, 92%);
    border-radius: 15px;
    padding: 25px 10x;
    font-family:Cursive;     
      line-height: 300%;
       text-align: left;
    

}
#n{
      font-size: 18px;
      
  
}
input{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 18px;
    background-color: #F1F7F8;

}
select{
    height: 20px;
    width: 200px;
    margin: 5px ; 
}
button{
    background-color: #F1F7F8;
    color: rgb(119, 119, 119);
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 15px;
}
button:hover{
    background-color: rgb(226, 226, 228);
}
 label{
    font-size: 15px;   
 }

