* {
  font-family: "optima", sans-serif;
}

body {
  background: url("../images/petFootSteps-left.png") repeat center center fixed;
  margin-bottom: auto;
}

.container {
  color: #00556d;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 380px;
  align-items: center;
  background-color: rgb(201, 230, 238);
  border-radius: 15px;
  padding: 25px 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.profilePic {
  width: 100px;
  height: 100px;
  padding-left: 160px;
  padding-bottom: -120px;
}

.container .buttons {
  position: absolute;
  margin: 15px auto;
  bottom: 0%;
}
button {
  background-color: rgb(228, 228, 229);
  color: #00556d;
  border-radius: 10px;
  font-size: 20px;
}
button:hover {
  background-color: rgb(201, 201, 203);
}
.container p {
  color: #00556d;
  background-color: white;
  width: 250px;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 20px;
  margin: 5px 25px;
}
