*
{
    font-family: 'optima', sans-serif	;
    font-size: 20px;
}
 
body{
    background: url('../images/petFootSteps-left.png') repeat center center fixed; 
  margin-bottom: auto;
    }

.container{
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 380px;
    align-items: center;
    background-color:rgb(201, 230, 238);
    border-radius: 15px;
    padding: 25px 10px ;
   
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
/*input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 18px;
    color: rgb(119, 119, 119);
    background-color: white;

}*/

.container .profilePic{
    position: absolute;
    top: 220px; right: 450px;

}


.container .buttons {
    position:absolute;
    margin: 15px auto;
    bottom: 10%;
    
  }
button {
    background-color: rgb(228, 228, 229);
    color: #00556d;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px 25px;
  
  }
  button:hover {
    background-color: rgb(201, 201, 203);
  }
  .container p {
    color: #00556d;
    font-size: 20px;
   
  }

