*
{
    font-family: 'optima', sans-serif	;
}
 
body{
    background: url('../images/petFootSteps-left.png') repeat center center fixed; 
  margin-bottom: auto;
    }

.container{
    width: 650px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 380px;
    align-items: center;
    background-color:rgb(201, 230, 238);
    border-radius: 15px;
    padding: 25px 10px ;
   
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px ;
    text-align: center;
    font-size: 18px;
    color: rgb(119, 119, 119);
    background-color: white;

}

.container .profilePic{
    position: absolute;
    top: 220px; right: 450px;

}


.buttons{
    margin: 15px auto; 
}
button{
    background-color: white;
    color: rgb(119, 119, 119);
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 25px;
    align-items: baseline;
}
button:hover{
    background-color: rgb(226, 226, 228);
}
p{
    font-size: 15px;
    align-items: center;
}

