* {
  font-family: 'optima', sans-serif	;
}
body{ 
    margin-bottom: auto;
    background-color: #d6e7ed;
    font-family: 'optima', sans-serif	;
    }
/*
.cont{
display: flex;
display: inline-block;

}*/
.cont {
    height: 300;
    display: flex;
    flex-wrap:nowrap ; 
    background-color: #d6e7ed;
  }
  
  .cont > div {
    /*background-color: #f1f1f1;
    width: 500px;
    height: 500 ;
    margin: 10px;
    text-align:center ;
    line-height: 60px;
    font-size: 15px;
    */
    background: #f1f1f1; 
    width: 360px;
    height: 345px;
    
    margin: 60px;
    text-align:center ;
    border-image-width: 60;
    


  }
  .image1{
    width: 360px;    
    height: 230px;
  }
img{
    width: 100%;
    height: 100%;
    display: block;  /*remove extra space below image */
}
  
  .space{
      margin-bottom: 0.2px;
  }





  .addservice{
    margin: 15px auto;

}
button{
  background-color: #b6c7cb;

    color: rgb(119, 119, 119);
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 25px;
    align-items: center;
   
}
button:hover{
    background-color: rgb(226, 226, 228);
}
.navbar{ 
  background-color: #ffffff;
  width:100%;
  height:100px; 
  margin-top:-10px;
  }
  .navbar a:hover {
    background: #f1f1f1;
    color: #00556D;
  }
  .navbar a{
      float:  right;
      display: block;
      color: #00556D;
      text-align: center;
      padding: 25px 70px;
      text-decoration: none;
      font-size: 18px;
      padding-top: 40px;
  }
  
  .logo{
      position: absolute;
      top: 0px;
      left: 0px;
      margin-top: -40px;
     width: 160px;
     height: 170px;
        
     }
  /*
.container1{
    width: 350px;
    height: 300px;
  
    margin: auto;
    flex-direction: row ;
    align-items: center;
    background-color:rgb(227, 231, 233);
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;
}
.container2{
    width: 350px;
    height: 300px;
    margin: auto;
    flex-direction: row ;
    align-items: center;
    background-color:rgb(227, 231, 233);
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;
   
}
.container3{
    width: 350px;
    height: 300px;
    margin: auto;
    flex-direction: row ;
    align-items: center;
    background-color:rgb(227, 231, 233);
    background-color: #E2EAEC;
    border-radius: 15px;
    padding: 25px 10px ;
}


button:hover{
    background-color: rgb(226, 226, 228);
}
p{
    font-size: 15px;
}
*/

.navbar{ 
  background-color: #ffffff;
  width:100%;
  height:100px; 
  
  margin:-10px; 
   }
   .navbar a:hover {
    background: #f1f1f1;
    color: #00556D;
  }
  .navbar a{
  float:  right;
  display: block;
  color: #00556D;
  text-align: center;
  padding: 25px 70px;
  text-decoration: none;
  font-size: 18px;
  padding-top: 40px;
  }
  
  .logo{
      position: absolute;
      top: 0px;
      left: 0px;
      margin-top: -40px;
     width: 160px;
     height: 170px;
        
     }
     .h1{
      color: #00556D;

     }