* {
  font-family: optima, sans-serif;
}
.logo{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -40px;
   width: 160px;
   height: 170px;

}
.navbar{ 
    background-color: #E2EAEC;
    position: absolute;
    width:100%;
    height:100px; 
    margin-top:-300px;
    }
    .navbar a:hover {
      background: #f1f1f1;
      color: #00556D;
    }
    .navbar a{
        float:  right;
        display: block;
        color: #00556D;
        text-align: center;
        padding: 25px 40px;
        text-decoration: none;
        font-size: 18px;
        padding-top: 40px;
    }
    .cont {
        height:100px;
        display: flex;
        flex-wrap:nowrap ; 
     
        margin-top: -30px;
        margin-left: 300px;
      }
      .cont > div {
        background: #f1f1f1; 
        width: 360px;
        height: 200x;
        margin: 25px;
        text-align:center ;
        border-image-width: 60;
    
      }
      .image1{
        width: 360px;    
        height: 230px;
      }
    img{
        width: 100%;
        height: 100%;
        display: block;  /*remove extra space below image */
    }
      
      .space{
          margin-bottom: 0.2px;
      }
      h6{
          text-align: center;
           top: 40px;
          font-size: 50px;
          color:#00556D ;
      }
      a{
          text-decoration: none;
          color:#00556D ;
      }
      body{
        background: url('../images/HPlogin.jpeg'); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
